<header>

	<content>

		<nav>

			<LinkTo @route="index" class="logo" aria-label="Home">
				<img src="/static/img/logo.svg" alt="SurrealDB" width="160" height="40" />
			</LinkTo>

			<Header::Dropdown />

			<space></space>

			<Button @link={{url "github"}}>
				<i class="fas fa-star align-right"></i> <span>GitHub</span>
			</Button>

			<Feedback />

		</nav>

		<Sidebar::Menu @type="over" />

	</content>

</header>