html {
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
	scroll-padding-top:6rem;
}

body {

	width:100vw;
	display:flex;
	font-size:16px;
	min-height:100vh;
	overflow-x:hidden;
	flex-direction:column;
	color:var(--text-color);
	background-size:250px, 250px;
	justify-content:space-between;
	font-family:var(--system-font-app);
	background-color:var(--dark-color);
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:subpixel-antialiased !important;
}

input:not([type='checkbox']) {
	width:100%;
	padding:20px;
	font-size:16px;
	border-radius:0px;
	margin-bottom:20px;
	background:transparent;
	color:var(--text-color);
	border:2px solid var(--text-color);
}

section {

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&[dark] {
		width:100%;
		background-color:var(--dark-color);
	}

	&[darker] {
		width:100%;
		background-color:var(--darker-color);
	}

	&[black] {
		width:100%;
		background-color:var(--black-color);
	}

	&[white] {
		width:100%;
		background-color:#ffffff;
	}

	&[pink] {
		width:100%;
		background:radial-gradient(circle at bottom left, rgba(255, 0, 160, 0.6), transparent 40%), radial-gradient(circle at top right, rgba(89, 4, 153, 1), transparent 40%);
		background-color:#110322;
	}

	&[surrealist] {
		width:100%;
		background-color:#000000;

		img {
			width:100%;
		}
	}

	&[surrealist-footer] {
		width: 100%;
		height: 700px;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		background-color: black;

		&:has(h1) {
			height: 900px;
		}

		.background {
			position: absolute;
			width: 1500px;
			height: 1500px;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: -1200px;

			background: linear-gradient(136.44deg, #FF00A0 36.59%, #9600FF 56.49%);
			box-shadow: inset 0px 0.786632px 1.57326px rgba(255, 255, 255, 0.95);
			filter: blur(279.454px);
			border-radius: 100vw;
			transform: rotate(120deg);
			z-index: 1;
		}

		.content {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: 0;
			z-index: 2;
			height: 100%;
			width: 80%;
			max-width: 1200px;
			display: block;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 30px;
			flex-direction: column;
			margin-bottom: 50px;

			a[button] {
				padding: 20px 30px;
				span {
					font-size: 30px;
				}

				@include media(max-width-960) {
					padding: 15px 20px;
					span {
						font-size: 25px;
					}
				}

				@include media(max-width-600) {
					display: none;
				}
			}

			img {
				width: 100%;
			}
		}

		@include media(max-width-1200) {
			height: 550px;


			&:has(h1) {
				height: 750px;
			}

			.background {
				bottom: -1300px;
			}

			.content {
				margin-bottom: 40px;
			}
		}

		@include media(max-width-960) {
			height: 500px;

			&:has(h1) {
				height: 600px;
			}

			.background {
				width: 1000px;
				height: 1000px;
				bottom: -800px;
				filter: blur(150px);
			}

			.content {
				margin-bottom: 25px;
			}
		}

		@include media(max-width-600) {
			height: 200px;

			&:has(h1) {
				height: 325px;
			}

			.background {
				width: 400px;
				height: 400px;
				filter: blur(100px);
				bottom: -300px;
			}

			.content {
				margin-bottom: 10px;
			}
		}
	}

	&[testimonials] {
		background-image:radial-gradient(circle at top center, rgba(255, 255, 255, 0.1), transparent 50%);
		background-color:var(--dark-color);
	}

}

content {

	width:80%;
	display:block;
	max-width:1200px;
	margin:0 auto 0 auto;
	transition:width 0.5s, max-width 0.5s;

	@include media(max-width-1200) {
		width:930px;
	}

	@include media(max-width-1024) {
		width:85%;
	}

	img {

		&[logos] {
			width:80%;

			@include media(max-width-960) {
			width:100%;
		}

		}

	}

	content {
		width:auto;
	}

	body > &[route^="docs"] {

		max-width:1600px;

		content {
			width:100%;
			max-width:100%;
		}

	}

}

html:not(.no-js) {
	h1, h2, h3, h4, h5, img, a, button {
		&[data-aos='fade-up'] {
			-webkit-transform: translate3d(0, 20px, 0);
			transform: translate3d(0, 20px, 0);
		}
		&[data-aos='fade-down'] {
			-webkit-transform: translate3d(0, -20px, 0);
			transform: translate3d(0, -20px, 0);
		}
	}
}

iframe {
	width: 100%;   
	height: 700px;
	border-radius: 10px;
}
