[min-h-100] {
	min-height:100px;
}

[min-h-200] {
	min-height:200px;
}

[min-h-300] {
	min-height:300px;
}

[max-h-60] {
	max-height:60px;
}

[h-60px] {
	height:60px;
}

[p-30] {
	padding:30px;
}

[m-t-10] {
	margin-top:10px;
}

[m-l-10] {
	margin-left:10px;
}

[m-r-10] {
	margin-right:10px;
}

[m-b-10] {
	margin-bottom:10px;
}
