:root {

	--text-color:#ffffff;					// Colour of primary text
	--back-color:#000000;					// Background page colour
	--light-color:#151517;					// Colour of dark text in boxes
	--dark-color:#19191d;					// Colour of dark text in boxes
	--hover-color:#ff009e;					// Colour of links when hovering
	--popup-color:#151517;					// Colour of popup modal window
	--coder-color:#222226;					// Colour of code box elements
	--boxes-color:#151517;					// Colour of content box elements
	--input-color:#151517;					// Colour input form elements
	--split-color:#151517;					// Colour of border lines in split code boxes
	--darker-color:#0b0b0c;				// Colour of content boxes inside content boxes
	--border-color:#1e2327;				// Colour of border separation lines
	--sidebar-color:#19191d;				// Colour of mobile sidebar menu
	--footer-color:#222226;				// Colour of footer
	--white-color:#ffffff;					// Colour of white text
	--black-color:#000000;					// Colour of black text
	--faint-color:#a6a6a6;					// Colour of faint text
	--dropdown-background:rgba(0,0,0,1); // COlor of the header menu
	--fonts:-apple-system, ui-sans-serif, system-ui, 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	::selection {
		color:#000000 !important;
		background-color:#ff009e !important;
	}
}
