.feedback {
    margin: 0 0 0 30px;
	z-index: 1;

    @include media(max-width-1301) {
        display:block;
    }

    @include media(max-width-750) {
        display:none;
    }
}

app-modal-front:has(.feedback-form) {
	border-radius: 30px;
	font-weight:600;
    overflow: hidden;
    width: 560px;

	@include media(max-width-642) {
		width:90%;
		height:90vh;
		border-radius:0px;
		margin:5vh auto 0 auto;
	}
}

sidebar {
    .feedback {
        width:100%;
		display:block;
        margin:20px 0 0 0;

        .feedback-button {
            width:100%;
            height:auto;
			font-size:18px;
        }

		button[white] {
			@include media(max-width-1301) {
				color:var(--text-color);
				border-color:var(--faint-color);
			}
		}
    }
}

.feedback-button {
    height: 40px;
    white-space: nowrap;
    border-radius: 50px;
	color: var(--text-color);
	background-color: rgba(var(--btn-background-color), 0.2);
}

.feedback-form {
    display:flex;
	border-radius:0px;
    align-items:center;
    flex-direction:column;
	justify-content:center;
    transform-origin:top center;

	@include media(max-width-642) {
		display:flex;
		align-items:normal;
	}

    .title {
		font-size: 1.25rem;
		margin-top: 0;
		min-width: 280px;
		text-align: center;
		font-weight:600;
		letter-spacing: normal;
    }

	.feedback-categories {
		gap:18px;
		display:flex;
		align-items:center;
		margin-bottom:30px;
		justify-content:space-between;

		@include media(max-width-642) {
			flex-direction:column;
		}

		.feedback-category-item {
			flex:1;
			margin:0;
			width:140px;
			height:130px;
			cursor:pointer;
			font-size:1.5rem;
			border-radius:8px;
			flex-direction:column;
			padding:1.5rem 0 1.39rem;
			border:3px solid #0000;
			justify-content:space-evenly;
			background-color:radial-gradient(circle at top left, rgba(255, 244, 244, 0.05));
			background:var(--coder-color);


			@include media(max-width-642) {
				width:100%;
				border-radius:8px;
			}

			h2 {
				color:var(--text-color);
				font-size:1rem;
				font-weight:600;
				margin-bottom:5px;

				@include media(max-width-642) {
					margin-top:8px;
				}
			}

			&:hover, &:focus, &.active-category {
				transition:none;
				overflow-wrap:anywhere;
				color:var(--text-color);
				background-clip:padding-box;
				box-shadow: 0 0 0 1.5px #ff009e;
			  }
		}
	}

	textarea {
		color:var(--text-color);
		font-weight:500;
		font-size: .875rem;
		font-weight: 400;
		width:100%;
		height: 80px;
		padding: 20px;
		border-radius: 12px;
		overflow: hidden;
		resize: none;
		margin-bottom: 20px;
		border:0;
		background-color: var(--coder-color);

		@include placeholder {
			color:var(--faint-color);
		}

		&:focus {
			border: 0;
			box-shadow:0 0 0 1.5px var(--hover-color);
		}
	}

	.feedback-controls {
		gap:10px;
		display:flex;
		margin-bottom:0px;
		align-items:center;
		justify-content:space-between;

		@include media(max-width-642) {
			width:100%;
			height:100%;
			flex-direction:column;
		}

		.privacy-link {
			color: gray;
			font-weight:500;
			font-size: .875rem;
			font-weight: 400;
			text-decoration: underline;

			@include media(max-width-642) {
				order:2;
			}

			&:hover {
				color:#ff009e;
			}
		}

		button {
			background: linear-gradient(150deg,#ff00a0,#9600ff);
			border: 0;
			font-weight:600;
			font-size: .875rem;
			font-weight: 500;
			height: 33px;
			color: #fff;
			word-wrap: break-word;

			@include media(max-width-642) {
				order:1;
				height:60px;
			}

			&:disabled {
				border-radius:40px;
				cursor:not-allowed;
			}

			&:focus {
				transition:none;
				outline:#ff009e solid 2px;
			}

			&:disabled {
				cursor:not-allowed;
			}
		}
	}

    .feedback-container {
        display:flex;
		height:263px;
        justify-content:center;
        flex-direction:column;

        .feedback-step {
            display:flex;
            align-items:center;
			flex-direction:column;

            .icon-success {
                color:#ff009e;
				font-size:x-large;
                padding-bottom:10px;
            }

            .icon-failure {
                color:#c41221;
                font-size:x-large;
				padding-bottom:10px;
            }

            button {
                width:auto;
                height:30px;
                font-size:12px;
                margin-top:10px;
            }
        }
    }
}
