<section dark>

	<Layout::Gap small />

	<Layout::Text>
		<updates>
			<Signup::Newsletter>
				<h1 white>Get updates from SurrealDB</h1>
			</Signup::Newsletter>
		</updates>
		<Layout::Gap mini />
		<Signup::Newsletter white />
	</Layout::Text>

	<Layout::Gap small />

</section>