<Meta::Tags>
	<title>SurrealDB | CF | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | CF">
	<meta name="description" content="Change Feeds enable SurrealDB to play a role within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms.">
</Meta::Tags>

<Layout::Hero cf>
	<Layout::Text text-l>
		<h1>Connect with the wider enterprise ecosystem, and analyse your data however you need.</h1>
		<h5 home>Change Feeds enable SurrealDB to play a role within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms.</h5>
		<div class="buttons">
			<Button @link={{docs "/docs/surrealdb/introduction/start"}}>
				<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
			</Button>
			<br>
			<Button @link="features">
				<i class="fal fa-list-check"></i> <span>View all features</span>
			</Button>
			<br>
		</div>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap small />

	<Layout::Box cols-2-to-1>
		<Layout::Box::Item text-l @title="SurrealDB with Change Data Capture functionality" @image="/static/img/products/icons/light/cdc.jpg" @imagedark="/static/img/products/icons/dark/cdc.jpg" @text="Change Feeds enable SurrealDB to play a role within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms." />
		<Layout::Box::Item text-l @title="Designed for long-running tasks and indexes" @image="/static/img/products/icons/light/asynchronous.jpg" @imagedark="/static/img/products/icons/dark/asynchronous.jpg" @text="Internally, in the future, Change Feeds will enable SurrealDB to handle long-running tasks, including the building and re-building of unique, full-text-search, and vector indexes, asynchronously, without any downtime or blocking." />
		<Layout::Box::Item text-l @title="Retrieve all changes to data over time" @image="/static/img/products/icons/light/immutable.jpg" @imagedark="/static/img/products/icons/dark/immutable.jpg" @text="SurrealDB tracks all of the changes made to table data by any user, whether running as an embedded or single-node instance, or if running in a distributed cluster with multiple SurrealDB nodes." />
		<Layout::Box::Item text-l @title="Suitable for a range of scenarios and integrations" @image="/static/img/products/icons/light/sdbserver.jpg" @imagedark="/static/img/products/icons/dark/sdbserver.jpg" @text="Change Feeds enable data integrity, data backup, and consistency across systems and environments. From ingesting data into third-party systems, archiving data to object storage for backup or analysis purposes, or for real-time synchronisation with other platforms, Change Feeds are a core feature for the enterprise." />
	</Layout::Box>

	<Layout::Gap large />

</section>