layout-text {

	width:100%;
	display:block;
	text-align:center;
	margin:0 auto 0 auto;

	@include media(max-width-768) {
		text-align:left;
	}

	h2, p {
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
	}

	&[text-c] {

		text-align:center;

		h1, h2, h3, h4, h5 h6, p {

			max-width:80%;
			margin-left:auto;
			margin-right:auto;

			@include media(max-width-768) {
				max-width:100%;
				text-align:left;
			}

		}

	}

	&[text-logos] {

		text-align:center;

		h1, h2, h3, h4, h5 h6, p {

			max-width:80%;
			margin-left:auto;
			margin-right:auto;

			@include media(max-width-960) {
				max-width:100%;
				text-align:left;
			}

		}

	}

	&[index] {

		h1 {

			width:100%;
			font-size:90px;
			text-align:left;
			line-height:0.9;
			margin:0 0 0px 0;
			padding-bottom:20px;
			background:rgb(255,255,255);
			background:-moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(160,160,167,1) 40%);
			background:-webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(160,160,167,1) 40%);
			background:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(160,160,167,1) 40%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#a0a0a7",GradientType=1);
			background-clip:text;
			-webkit-background-clip:text;
			-webkit-text-fill-color:transparent;

			@include media(max-width-960) {
				font-size:52px;
				margin:0 0 20px 0;
			}

			span {

				background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				-webkit-background-clip:text;
				background-clip:text;
				-webkit-text-fill-color:transparent;

			}

		}

		h2 {

			font-size:36px;
			text-align:left;

			@include media(max-width-960) {
				font-size:24px;
			}

			@include media(min-width-1270) {
				font-size:42px;
			}

		}

	}

	&[text-m] {

		text-align:center;

		h1, h2, h3, h4, h5, h6 {

			max-width:80%;
			margin-left:auto;
			margin-right:auto;

			@include media(max-width-768) {
				max-width:100%;
				text-align:left;
			}

		}

		p {

			max-width:60%;
			margin-left:auto;
			margin-right:auto;

			@include media(max-width-768) {
				max-width:100%;
				text-align:left;
			}

		}

	}

	&[text-middle] {

		text-align:center;

		h1, h2, h3, h4, h5, h6 {

			max-width:80%;
			margin-left:auto;
			margin-right:auto;

			@include media(max-width-768) {
				max-width:100%;
			}

		}

		p {

			max-width:60%;
			margin-left:auto;
			margin-right:auto;

			@include media(max-width-768) {
				max-width:100%;
				text-align:left;
			}

		}

	}

	&[text-l] {

		text-align:left;

		h1, h2, h3, h4, h5, h6, p {

			max-width:90%;
			margin-left:0;

			@include media(max-width-768) {
				max-width:100%;
			}

		}

	}

	&[text-full] {

		text-align:left;

		h1, h2, h3, h4, h5, h6, p {

			max-width:100%;
			margin-left:0;

			@include media(max-width-768) {
				max-width:100%;
			}

		}

	}

	&[text-r] {

		text-align:right;

		h1, h2, h3, h4, h5, p {

			max-width:80%;
			margin-right:0;

			@include media(max-width-768) {
				max-width:100%;
			}

		}

	}

	&[text-f] {

		h1, h2, h3, h4, h5, p {
			max-width:100%;
		}

	}

}
