<Meta::Tags>
	<title>SurrealDB | Page Not Found | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Page Not Found">
	<meta name="description" content="The page you requested could not be found.">
</Meta::Tags>

<Layout::Hero black>
	<Layout::Text text-l>
		<h1>Oops we couldn't find that page</h1>
		<h5>While your're here, try some queries on Surrealist</h5>
	</Layout::Text>
	<br><br>
	<iframe src="https://surrealist.app/mini?dataset=surreal-deal&query=%2F%2Fshow+complete+information+for+database+%0AINFO+FOR+DB%3B+%0A%0A%2F%2F+Select+all+from+artist+table+%0ASELECT+*+FROM+artist%3B%0A%0A%2F%2F+Select+specific+field+within+table+%0ASELECT+address.city+FROM+artist+%0A%0A%2F%2F+Add+your+queries+%F0%9F%98%83%0A%0A" width="100%" height="700" frameBorder="0" allowFullScreen></iframe>
</Layout::Hero>