<Meta::Tags>
	<title>SurrealDB | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | The ultimate multi-model database for tomorrow's applications">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
</Meta::Tags>

<Layout::Hero cloud>
	<Layout::Text index>
		<h1>The ultimate<br>data platform<br>for everyone</h1>
		<div class="buttons">
			<Signup::Cloud>
				<span>Click here to join the waitlist</span> <i class="fas fa-arrow-right"></i>
			</Signup::Cloud>
		</div>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap medium />

	<Layout::Text text-l>
		<h5>SurrealDB Cloud redefines the database experience, offering the power and flexibility of SurrealDB without the pain of managing infrastructure. Elevate your business to unparalleled levels of scale and resilience. Focus on building tomorrow's applications, we take care of the rest!</h5>
	</Layout::Text>

	<Layout::Gap illustrations2 />

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item home illustrated @title="Fully managed" @image="/static/img/illustrations/dark/fully-managed.png" @imagedark="/static/img/illustrations/dark/fully-managed.png" @text="Forget about infrastructure operations, monitoring, backups or capacity planning. SurrealDB Cloud allows you to focus on building great products using the power and flexibility of SurrealDB." @button="Enables the compartmentalizatio" />
		<Layout::Boxes::Item home illustrated @title="Security" @image="/static/img/illustrations/dark/security.png" @imagedark="/static/img/illustrations/dark/security.png" @text="Enterprise-grade security including encryption, authentication, secure connectivity and audit logs. Your data's integrity and security are our top priority." />
		<Layout::Boxes::Item home illustrated @title="Scalability" @image="/static/img/illustrations/dark/scalability.png" @imagedark="/static/img/illustrations/dark/scalability.png" @text="Grow from prototype to enterprise-scale. Our scalable architecture allows your database to evolve as your application grows, ensuring you are always ahead of demand." />
		<Layout::Boxes::Item home illustrated @title="Workload isolation with centralised data" @image="/static/img/illustrations/dark/workload-isolation-with-centralised-data.png" @imagedark="/static/img/illustrations/dark/workload-isolation-with-centralised-data.png" @text="Enables the compartmentalization of workloads for different departments or projects within an organization while ensuring all teams access a consistent, shared data repository." />
		<Layout::Boxes::Item home illustrated @title="Support" @image="/static/img/illustrations/dark/support.png" @imagedark="/static/img/illustrations/dark/support.png" @text="Exceptional, easily accessible customer service, Service Level Agreements, and uptime guarantees. Join and learn from our vibrant community of innovators and pioneers who are shaping the future of technology." />
		<Layout::Boxes::Item home illustrated @title="Predictable pricing" @image="/static/img/illustrations/dark/predictable-pricing.png" @imagedark="/static/img/illustrations/dark/predictable-pricing.png" @text="Clarity and control over your costs with transparent billing. Only pay for the resources you need, set limits and quotas, and adjust your usage according to demand." />
		<Layout::Boxes::Item home illustrated @title="Compliance" @image="/static/img/illustrations/dark/compliance.png" @imagedark="/static/img/illustrations/dark/compliance.png" @text="Designed to meet crucial standards such as SOC 2, ISO 27001, GDPR, and industry standards for financial services, healthcare and governments." />
	</Layout::Boxes>

	<Layout::Gap large />

</section>