<Meta::Tags>
	<title>SurrealDB | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | The ultimate multi-model database for tomorrow's applications">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
</Meta::Tags>

{{!-- <Layout::Hero index>
	<Layout::Text index>
		<h1>The ultimate<br>multi-model database</h1>
		<h2>Develop easier. Build faster. Scale quicker.</h2>
		<Button white @link="features">
			<i class="fal fa-list-check"></i> <span>View all features</span>
		</Button>
		<Button white @link={{docs "/docs/surrealdb/introduction/start"}}>
			<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
		</Button>
	</Layout::Text>
</Layout::Hero> --}}

<video src="https://youtu.be/Jvegw_ynTts" width="100%" autoplay loop muted>
</video>

<section pink>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h1 light>SurrealDB offers a dynamic and adaptable platform for business. With an integrated suite of cutting-edge database solutions, tools, and services, SurrealDB empowers your workforce to discover innovative answers using products meticulously crafted to meet their requirements.</h1>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Gap line />

	{{!-- <Layout::Boxes cols-3-to-2-to-1>
		<Link @link={{docs "/docs/surrealdb/surrealql/overview"}} mini>
			<Layout::Boxes::Item transparent @alt="SurrealQL" @image="/static/img/products/ql.png" @text="The query language in SurrealDB looks and works similarly to traditional-SQL, but allows for querying over time-series and connected graph data. SurrealQL is an advanced query language, with programming language functionality, that allows developers or data analysts to work with SurrealDB in the ways they choose." hover />
		</Link>
		<Link @link="products.lq" mini>
			<Layout::Boxes::Item transparent @alt="SurrealLQ" @image="/static/img/products/lq.png" @text="Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend." hover />
		</Link>
		<Link @link="products.ix" mini>
			<Layout::Boxes::Item transparent @alt="SurrealIX" @image="/static/img/products/ix.png" @text="SurrealDB is designed for building applications of any size - and for that, query performance, and improved data analysis workloads are key. With SurrealDB secondary indexes, you can now index data using traditional indexes, full-text search indexing, and vector-embedding search for artificial intelligence use cases." hover />
		</Link>
		<Link @link="products.cf" mini>
			<Layout::Boxes::Item transparent @alt="SurrealCF" @image="/static/img/products/cf.png" @text="Change Feeds enable SurrealDB to play a role within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms." hover />
		</Link>
		<Link @link="products.ml" mini>
			<Layout::Boxes::Item transparent @alt="SurrealML" @image="/static/img/products/ml.png" @text="SurrealML enables machine learning models to be greatly simplified, ensuring reproducibility and consistency in machine learning pipelines. Running on our Rust engine, models can be built in Python, and imported in to SurrealDB for inference within the database runtime." hover />
		</Link>
	</Layout::Boxes>

	<Layout::Gap small /> --}}

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item text-l light @title="Workflows" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Query view" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Query capabilities" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Query organisation" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Data exploring" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Schema designing" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="API Docs" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Database serving" @image="/static/img/illustrations/light/query.png" @imagedark="/static/img/illustrations/dark/query.png" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
	</Layout::Boxes>

	<Layout::Gap large />

</section>
