<Meta::Tags>
	<title>SurrealDB | Events | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Events">
	<meta name="description" content="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers all around the world.">
</Meta::Tags>

<Layout::Hero events>
	<Layout::Text text-l>
		<h1>
			Surreal Events
		</h1>
		<h5 events>Dive into a world where imagination, performance, and intellectual discourse unite at SurrealDB Socials</h5>
	</Layout::Text>
</Layout::Hero>

<section>

	<Layout::Gap medium />

	<Layout::Text text-l>
		<h2>Upcoming events</h2>
	</Layout::Text>

	<Layout::Gap tiny />

	<Layout::Blog cols-2-to-1>
		<Layout::Blog::Item events @stamp="Thursday 2 May" @title="Women in Rust: Lunch & Learn! (Virtual)" @image="/static/img/events/womeninrust.jpg" @buttontext="Click here to register" @url="https://www.eventbrite.co.uk/e/women-in-rust-lunch-learn-virtual-tickets-877348913217?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl" />
		<Layout::Blog::Item events @stamp="Tuesday 14 May" @title="Futures Forum" @image="/static/img/events/ff.jpg" @buttontext="Click here to register" @url="https://www.eventbrite.co.uk/e/futures-forum-aillm-meetup-tickets-877245955267?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl" />
	</Layout::Blog>

	<Layout::Gap small />

	<Layout::Text text-l>
		<h2>Past events</h2>
	</Layout::Text>

	<Layout::Gap tiny />

	<Layout::Blog cols-3-to-2-to-1>
		<Layout::Blog::Item events @stamp="Tuesday 23 April" @title="A Surreal Launch: The Future of Interacting with SurrealDB" @image="/static/img/events/introducingsurrealist.jpg" />
		<Layout::Blog::Item events @stamp="Thursday 4 April" @title="Women in Rust (Launch) - Polars: The Gateway to Rust for Data Scientists" @image="/static/img/events/womeninrust.jpg" />
		<Layout::Blog::Item events @stamp="Tuesday 26 March" @title="Unlocking the Future of AI: Retrieval with OpenAI & SurrealDB Vector Search" @image="/static/img/events/unlockingthefuture.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 13 March" @title="Futures Forum: Tools of Tomorrow: Exploring the AI Revolution" @image="/static/img/events/exploringtheairevolution.jpg" />
		<Layout::Blog::Item events @stamp="Tuesday 27 February" @title="SurrealDB Social: How to simplify your tech stack" @image="/static/img/events/surrealdbsocial6.jpg" />
		<Layout::Blog::Item events @stamp="Tuesday 13 February" @title="Futures Forum: Tools of Tomorrow" @image="/static/img/events/futuresforum3.jpg" />
		<Layout::Blog::Item events @stamp="Tuesday 13 February" @title="Futures Forum: Creating the perfect new hire: A Custom GPT for your business" @image="/static/img/events/futuresforum2.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 29 November" @title="SurrealDB Social: Building a SaaS & Deploying SurrealDB to Kubernetes" @image="/static/img/stream/18.jpg" />
		<Layout::Blog::Item events @stamp="Tuesday 21 November" @title="Futures Forum: AI/LLM Meetup Launch" @image="/static/img/events/futuresforumevent.png" />
		<Layout::Blog::Item events @stamp="Wednesday 25 October" @title="SurrealDB Social: Everything SurrealDB 1.0" @image="/static/img/stream/20.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 11 October" @title="TECH+TUNES: Tech Networking and Live Music" @image="/static/img/events/techandtunes5.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 30 August" @title="TECH+TUNES: Tech Networking and Live Music" @image="/static/img/events/techandtunes.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 16 August" @title="TECH+TUNES: Tech Networking and Live Music" @image="/static/img/events/techandtunes1.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 26 July" @title="SurrealDB Social: London Tech Meetup for Developers" @image="/static/img/events/surrealdbsocial.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 12 July" @title="TECH+TUNES: Tech Networking and Live Music" @image="/static/img/events/techandtunes4.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 28 June" @title="SurrealDB Social: London Tech Meetup for Developers" @image="/static/img/events/surrealdbsocial1.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 14 June" @title="TECH+TUNES: Tech Networking and Live Music" @image="/static/img/events/tandt.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 31 May" @title="SurrealDB Social: London Tech Meetup for Developers" @image="/static/img/events/surrealdbsocial3.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 17 May" @title="TECH+TUNES: Tech Networking and Live Music" @image="/static/img/events/surrealdbsocial5.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 26 April" @title="SurrealDB Social: London Tech Meetup for Developers" @image="/static/img/events/surrealdbsocial4.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 12 April" @title="SurrealDB at Huckletree - Launch Event" @image="/static/img/events/surrealdblaunch.jpg" />
		<Layout::Blog::Item events @stamp="Wednesday 14 March" @title="SurrealDB Social - Swingers Crazy Golf, New York (Tech Meetup)" @image="/static/img/events/surrealdbswingers.jpg" />
	</Layout::Blog>

	<Layout::Gap large />

</section>