<Meta::Tags>
	<title>SurrealDB | Surrealist | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | The ultimate multi-model database for tomorrow's applications">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
</Meta::Tags>

<Layout::Hero surrealist>
	<Layout::Text index>
		<h1><img src="/static/img/surrealist/introducingsurrealist.svg" alt="Surrealist" /></h1>
		<div class="buttons">
			<Button @link={{url "download"}}>
				<span>Click here to download</span> <i class="fal fa-cloud-arrow-down"></i>
			</Button>
			<br>
			<Button @link={{url "surrealist"}}>
				<span>Open in your browser</span> <i class="fas fa-arrow-right"></i>
			</Button>
		</div>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap large />

	<section surrealist>

		<Layout::Text>
			<h1 middle>The ultimate dashboard<br>for the ultimate database</h1>
		</Layout::Text>

		<Layout::Gap small />

		<img src="/static/img/surrealist/ui.jpg" class="center" />

		<Layout::Gap medium />

	</section>

	<Layout::SurrealistBoxes cols-2-to-1>
		<Layout::SurrealistBoxes::Item @title="Intuitive design" @text="Surrealist takes a modern approach to managing databases. With its intuitive, easy-to-use interface, Surrealist allows you to effectively manage multiple databases, define reusable connection templates, and offers a vast collection of settings to personalize your experience. Enhance your database management efficiency and integrate seamlessly with your existing systems using Surrealist." @image="/static/img/surrealist/intuitivedesign.png" @image="/static/img/surrealist/intuitivedesign.png" />
		<Layout::SurrealistBoxes::Item @title="Available everywhere" @text="Whether you're on the go or integrating Surrealist into your workflow, access it as a self-contained web app or install Surrealist Desktop for a comprehensive development environment. Soon, launch Surrealist directly from your SurrealDB database for full control with minimal effort. Experience seamless database management that's both powerful and effortlessly accessible anywhere." @image="/static/img/surrealist/availableeverywhere.png" @imagedark="/static/img/surrealist/availableeverywhere.png" />
		<Layout::SurrealistBoxes::Item @title="Personal sandbox" @text="The API docs view provides you with an easy to navigate, fully personalised documentation for interacting with your database. Quickly navigate and find relevant topics using the table of contents, preview code snippets in a wide array of languages, and view visual examples tailored to your database. The API docs are the go-to place when developing against a SurrealDB database." @image="/static/img/surrealist/sandbox.png" @image="/static/img/surrealist/sandbox.png" />
		<Layout::SurrealistBoxes::Item @title="Workflows" @text="Thanks to its powerful workflow views, Surrealist allows you to interact with the database in your preferred way. Whether you are looking to query your database, explore your records, design a schema, or manage stored procedures, Surrealist has your back. It offers robust tools and a user-friendly interface to enhance your database management and ensure optimal performance." @image="/static/img/surrealist/workflows.png" @image="/static/img/surrealist/workflows.png" />
		<Layout::SurrealistBoxes::Item @title="Query view" @text="The query view provides the most efficient way to communicate with your database. Write multiple queries at once with tabs, save them for later to reuse in any database, and get a live stream of updates to your data. Not only that, but powerful features such as inferring variables, formatting queries and visualising results allow you to efficiently interact with your database." @image="/static/img/surrealist/queryview.png" @image="/static/img/surrealist/queryview.png" />
		<Layout::SurrealistBoxes::Item @title="ML Models" @text="Dive into the powerful world of machine learning and explore SurrealML using the models view. Upload your models and expose them as callable functions to your queries. "  @image="/static/img/surrealist/mlmodels.png" @image="/static/img/surrealist/mlmodels.png" />
	</Layout::SurrealistBoxes>

	<Layout::Gap surrealist />

	<Layout::SurrealistBoxes cols-1>
		<Layout::SurrealistBoxes::Item @title="Schema designer" @text="Build your database schema using the powerful designer view and visualize how your data relates to each other in the graphical table graph. Harness the full power of SurrealDB and visually define table fields, indexes, events, and more." @image="/static/img/surrealist/schemadesigner.png" @image="/static/img/surrealist/schemadesigner.png" />
	</Layout::SurrealistBoxes>

	<Layout::Gap surrealist />

	<Layout::SurrealistBoxes cols-2-to-1>
		<Layout::SurrealistBoxes::Item @title="Authentication" @text="Manage database access directly from Surrealist using the authentication view. Grant or restrict database access to users, define authentication scopes, and simplify authentication management processes effectively." @image="/static/img/surrealist/authentication.png" @image="/static/img/surrealist/authentication.png" />
		<Layout::SurrealistBoxes::Item @title="Functions" @text="View and manage your stored procedures with the functions view. Write and modify functions using the SurrealQL editor, configure access permissions, and define function parameters efficiently." @image="/static/img/surrealist/functions.png" @imagedark="/static/img/surrealist/functions.png" />
	</Layout::SurrealistBoxes>

	<Layout::Gap surrealist />

	<Layout::SurrealistBoxes cols-1>
		<Layout::SurrealistBoxes::Item @title="Table explorer" @text="The Surrealist table explorer allows you to visually browse through your records without writing a single query. Data is represented in a human friendly way, and you can easily follow record links through your database. Edit data right in the record editor, and discover connected relations. The table explorer makes working with data feel like a breeze." @image="/static/img/surrealist/tableexplorer.png" @image="/static/img/surrealist/tableexplorer.png" />
	</Layout::SurrealistBoxes>

	<Layout::Gap surrealist />

	<Layout::SurrealistBoxes cols-2-to-1>
		<Layout::SurrealistBoxes::Item @title="API Docs" @text="The API docs view provides you with an easy to navigate, fully personalised documentation for interacting with your database. Quickly navigate and find relevant topics using the table of contents, preview code snippets in a wide array of languages, and view visual examples tailored to your database. The API docs are the go-to place when developing against a SurrealDB database." @image="/static/img/surrealist/apidocs.png" @image="/static/img/surrealist/apidocs.png" />
		<Layout::SurrealistBoxes::Item @title="Database serving" @text="Using Surrealist Desktop, spin up a local development database with a single click directly from Surrealist. Without launching a terminal, easily manage your database and view live log streams. Quickly troubleshoot with accessible tools and streamline your workflow. Developing against a database, whether for testing or production, has never been easier or more efficient!" @image="/static/img/surrealist/database-serving.png" @image="/static/img/surrealist/database-serving.png" />
	</Layout::SurrealistBoxes>

	<Layout::Gap surrealist />

	<Layout::Video cols-1>
		<Layout::Video::Item text-l
			@image="/static/img/surrealist/launchvideo.jpg"
			@video="https://www.youtube.com/embed/l0_lj-ILVhE?si=-G2D-4fV9Gmvo5Et"
		/>
	</Layout::Video>

</section>

<section surrealist-footer>
	<div class="content">
		<Button @link={{url "download"}}>
			<span>Download Surrealist</span> <i class="fal fa-cloud-arrow-down"></i>
		</Button>
		<img src="/static/img/surrealist/dock.png" class="center" />
	</div>
	<div class="background"></div>
</section>
