<Meta::Tags>
	<title>SurrealDB | Meet The Team | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Meet The Team">
	<meta name="description" content="SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services.">
</Meta::Tags>

<Layout::Hero team>
	<Layout::Text text-l>
		<h1>
			Meet the team
		</h1>
		<h5 white>SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services, having previously excelled at renowned organisations including AWS, Cloudflare, Elastic, IBM, LinkedIn, Neo4j, Netlify, Redis, Snowflake, Xata, Yahoo, and many more.</h5>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap large />

	<Layout::Boxes cols-4-to-2-to-1>
		{{#each this.model as |person|}}
			<Layout::Boxes::Item text-l team @image={{person.attributes.image}} @title={{person.attributes.name}} @text={{person.attributes.text}} />
		{{/each}}
	</Layout::Boxes>

	<Layout::Gap large />

</section>